# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
venv/
env/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
